body {
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-align: justify;
    
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Flecha ir arriba */
.fa-arrow-up {
	position: fixed;
	right: 25px;
	bottom: 10px;
	cursor: pointer;
    font-size: 30px;
    color: #F8F8F8;
}
.fa-arrow-up:hover {
	transform: scale(1.2);
}

.fa-facebook-official {
    font-size: 30px;
}
.fa-facebook-official:hover {
    transition: 0.3s;
    transform: scale(1.3);
}
a:link {   
    text-decoration: none;   
}
.alert a {
    color: #DC143C;
}
.infoContent .block .icon-social{
    font-size: 30px;
}
.be-black {
    color: #141419;
}
.underline-bottom {
	border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.navbar-nav > li, select, .panel-title {
    cursor: pointer;
}
.btn {
    transition: 0.3s;
    font-weight: 600;
}
.btn:hover {
    transform: scale(1.1);
}
.btn-danger {
    border: 2px solid #D74932;
    background-color: transparent;
    color: black;
}
.btn-danger:hover {
    color: white;
    background-color: #D74932;
    border: 2px solid #D74932;
}
.btn-primary {
    border: 2px solid #337ab7;
    background-color: transparent;
    color: black;
}
.btn-primary:hover {
    color: white;
    background-color: #337ab7;
    border: 2px solid #337ab7;
}
/*.btn-default {
    border: 2px solid #C9C9C9;
    background-color: transparent;
    color: black;
}
.btn-default:hover {
    color: white;
    background-color: #C9C9C9;
    border: 2px solid #C9C9C9;
}*/
.title {
    font-size: 25px;
    font-weight: normal;
}
.subtitle {
    font: bold;
    font-size: 18px;
}
.bold {
    font: bold;
}
.image-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin {
    margin: 0px 0px 25px 0px;
}
.box {
    margin: 20px 0 20px 0;
}
.btn-upload {
    background-color: #337ab7;
    color: white;
}
.btn-upload:hover {
    color: white;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.custom-preview {
    width: 300px;
    min-height: 50px;
}

/* Navigation */
.navbar {
    padding: 30px;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 75px;
    width: 60px;
    margin-top: -10px;
}
.navbar-brand>img:hover {
    opacity: 0.6;
}
.navbar-collapse {
    overflow-x:hidden; 
    border-style: hidden;
}


/* Footer */
footer {
    width: 100%;
    clear: both;
    color: #666;
    background: #141419;
    line-height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
footer p a {
    color: #666;
}
footer p a:hover {
    color: #666;
    text-decoration: underline;
}

/* Logos */
.images-top {
    margin: 25px 0px 25px;
}
.images-bottom {
    margin-bottom: 25px;
}
.circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: inline-block;
}

@media screen and (min-width: 240px) {
    .circle {
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}
@media screen and (min-width: 360px) {
    .circle {
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}
@media screen and (min-width: 480px) {
    .circle {
        border-radius: 50%;
        width: 350px;
        height: 350px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}
@media screen and (min-width: 640px) {
    .circle {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        display: inline-block;
    }
    table {
        overflow-x: auto;
        display: table;
    }
}
@media screen and (min-width: 1024px) {
    .circle {
        border-radius: 50%;
        width: 500px;
        height: 500px;
        display: inline-block;
    }
    table {
        overflow-x: auto;
        display: table;
    }
}

/* Acordeon */
.panel-body > p {
    margin-top: 20px;
}
.speaker-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}

/* Addons */
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon, .inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #B3B3B3;
}

/* align icon */
.left-addon .glyphicon, .left-addon .fa  { left:  0px;}
.right-addon .glyphicon, .right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/* tarjetas de sesiones */
.card-box {
    padding: 0 5px 0 5px;
}
.card-box .inner {
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.card-box .inner:hover {
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.title-card {
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.glyphicon-trash {
    color: #E74C3C;
    font-size: 20px;
    float: right;
}
.glyphicon-trash:hover {
    transform: scale(1.2);
}