body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    text-align: justify;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.red {
    color: #E74C3C;
    font-size: 14px;
}
.margin-login {
    margin-bottom: 10px;
}
.input-group {
    margin-top: -11px;
}

/* Flecha ir arriba */
.fa-arrow-up {
    position: fixed;
    right: 25px;
    bottom: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #FF770D;
}

.fa-facebook-official {
    font-size: 30px;
}
.fa-facebook-official:hover {
    transition: 0.3s;
    transform: scale(1.3);
}
a:link {   
    text-decoration: none;   
}
.alert a {
    color: #DC143C;
}
.infoContent .block .icon-social{
    font-size: 30px;
}
.be-black {
    color: #141419;
}
.navbar-nav > li, select, .panel-title, input[type=checkbox], .nav-tabs li a {
    cursor: pointer;
}
.btn {
    transition: 0.2s;
    font-weight: 600;
}
.btn-default {
    border: 2px solid #C0C0C0;
    background-color: transparent;
    color: black;
}
.btn-default:hover {
    color: white;
    background-color: #C0C0C0;
    border: 2px solid #C0C0C0;
}
.btn-primary {
    border: 2px solid #337ab7;
    background-color: transparent;
    color: black;
}
.btn-primary:hover {
    color: white;
    background-color: #337ab7;
    border: 2px solid #337ab7;
}
.title {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15px;
}
.subtitle {
    font: bold;
    font-size: 18px;
}
.bold {
    font: bold;
}
.image-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin {
    margin: 0px 0px 25px 0px;
}
.box {
    margin: 20px 0 20px 0;
}
.btn-upload {
    background-color: #337ab7;
    color: white;
}
.btn-upload:hover {
    color: white;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background: #E6E6E6;
    border: 1px solid #C9C9C9;
}
.btn-file:hover {
    position: relative;
    overflow: hidden;
    border: 1px solid #C9C9C9;
    background: #E6E6E6;
    color: black;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}
.custom-preview {
    width: 300px;
    min-height: 50px;
}

/* Navigation */
.navbar {
    padding: 30px;
    background-color: white;
    border-bottom: 2px solid #2E32BF;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 75px;
    width: 60px;
    margin-top: -10px;
}
.navbar-brand>img:hover {
    opacity: 0.6;
}
.navbar-collapse {
    overflow-x:hidden; 
    border-style: hidden;
}

/* Footer */
footer {
    width: 100%;
    clear: both;
    color: white;
    background: #2E32BF;
    line-height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
footer p a {
    color: white;
}
footer p a:hover {
    color: white;
    text-decoration: underline;
}

/* Logos */
.images-top {
    margin: 25px 0px 25px;
}
.images-bottom {
    margin-bottom: 25px;
}
.circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: inline-block;
}

@media screen and (min-width: 240px) {
    .circle {
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}
@media screen and (min-width: 360px) {
    .circle {
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}
@media screen and (min-width: 480px) {
    .circle {
        border-radius: 50%;
        width: 350px;
        height: 350px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
}
@media screen and (min-width: 640px) {
    .circle {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        display: inline-block;
    }
    table {
        overflow-x: auto;
        display: table;
    }
}
@media screen and (min-width: 768px) {
    .circle {
        border-radius: 50%;
        width: 450px;
        height: 450px;
        display: inline-block;
    }
    table {
        overflow-x: auto;
        display: table;
    }
}
@media screen and (min-width: 1024px) {
    .circle {
        border-radius: 50%;
        width: 500px;
        height: 500px;
        display: inline-block;
    }
    table {
        overflow-x: auto;
        display: table;
    }
}

/* Acordeon */
.panel-body > p {
    margin-top: 20px;
}
.speaker-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}

/* Addons */
/* enable absolute positioning */
.inner-addon {
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon, .inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #B3B3B3;
}

/* align icon */
.left-addon .glyphicon, .left-addon .fa  { left:  0px;}
.right-addon .glyphicon, .right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/* tarjetas de sesiones */
.card-box {
    padding: 0 5px 0 5px;
}
.card-box .inner {
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.card-box .inner:hover {
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.title-card {
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.footer-card-box {
    border-top: 2px solid #E5E5E5;
    padding-top: 10px;
    -webkit-box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px -1px rgba(0, 0, 0, 0.8);
}
.glyphicon-trash {
    color: #E74C3C;
    font-size: 20px;
}
.card-text .glyphicon-trash {
    float: right;
}
.glyphicon-trash:hover, .fa-square:hover, .fa-square-o:hover, .fa-arrow-up:hover {
    transform: scale(1.2);
}

.fa-square, .fa-square-o {
    font-size: 22px;
}

.info-box {
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
    padding: 20px;
    border-radius: 5px;
    margin: 25px 0px 25px 0px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.info-box th {
    text-align: center;
}

.modal-header {
    background-color: #2E32BF;
    color: #FF770D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}