<nav class="navbar navbar-default">
	<div class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
      			<span class="sr-only">Toggle navigation</span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" ng-click="activeNav=''" href="#/">
				<img src="./images/logo.png">
			</a>
  		</div>
  		<div class="navbar-collapse collapse navBar">
    		<ul class="nav navbar-nav navbar-right">
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">ABOUT US <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='presentation'"><a style="color: #2E32BF;">PRESENTATION</a></li>
		                <li ng-click="activeNav='misionVision'"><a style="color: #2E32BF;">MISION & VISION</a></li>
		                <li ng-click="activeNav='objectives'"><a style="color: #2E32BF;">OBJECTIVES OF THE CONGRESS</a>
		                <li ng-click="activeNav='population'"><a style="color: #2E32BF;">TARGET POPULATION</a>
		                <li ng-click="activeNav='importance'"><a style="color: #2E32BF;">IMPORTANCE</a>
		        	</ul>
		      	</li>
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">ACADEMIC FRAME <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='thematic'"><a style="color: #2E32BF;">THEMATIC STRANDS</a></li>
		                <li ng-click="activeNav='congressP'"><a style="color: #2E32BF;">CONGRESS PRESENTATIONS</a></li>
		        	</ul>
		      	</li>
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">SPEAKERS <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='guestSpeakers'"><a style="color: #2E32BF;">GUEST SPEAKERS</a></li>
		                <li ng-click="activeNav='localSpeakers'"><a style="color: #2E32BF;">LOCAL SPEAKERS</a></li>
		        	</ul>
		      	</li>
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">COMMITTEES <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='organizingC'"><a style="color: #2E32BF;">ORGANIZING COMMITTEE</a></li>
		                <li ng-click="activeNav='academicC'"><a style="color: #2E32BF;">ACADEMIC COMMITTEE</a></li>
		                <li ng-click="activeNav='scientificC'"><a style="color: #2E32BF;">SCIENTIFIC COMMITTEE</a>
		                <li ng-click="activeNav='logisticsC'"><a style="color: #2E32BF;">LOGISTICS COMMITTEE</a>
		                <li ng-click="activeNav='communicationC'"><a style="color: #2E32BF;">COMMUNICATION COMMITTEE</a>
		        	</ul>
		      	</li>
		      	<li ng-click="activeNav='sponsors'"><a style="color: #FF770D;">SPONSORS</a></li>
		      	<li ng-click="activeNav='information'"><a href="#/" style="color: #FF770D;">INFO</a></li>
		      	<li ng-click="activeNav='registration'"><a style="color: #FF770D;">REGISTRATION</a>
        		<li data-toggle="modal" data-target="#logIn"><a style="color: #FF770D;">LOG IN</a></li>
    		</ul>
 		</div>
	</div>
</nav>

<!-- ZONA DE INFORMACION -->
<div class="container" ng-switch="activeNav">
	<div ng-switch-when="">
		<div ng-include="'./templates/homepage.htm'"></div>
	</div>
	<div ng-switch-when="presentation"> 
		<div ng-include="'./templates/presentation.htm'"></div>
	</div>
	<div ng-switch-when="misionVision"> 
		<div ng-include="'./templates/mision.vision.htm'"></div>
	</div>
	<div ng-switch-when="objectives">
		<div ng-include="'./templates/objectives.htm'"></div>
	</div>
	<div ng-switch-when="population">
		<div ng-include="'./templates/population.htm'"></div>
	</div>
	<div ng-switch-when="importance">
		<div ng-include="'./templates/importance.htm'"></div>
	</div>
	<div ng-switch-when="thematic">
		<div ng-include="'./templates/thematic.htm'"></div>
	</div>
	<div ng-switch-when="congressP">
		<div ng-include="'./templates/congressP.htm'"></div>
	</div>
	<div ng-switch-when="guestSpeakers">
		<div ng-include="'./templates/guestSpeakers.htm'"></div>
	</div>
	<div ng-switch-when="localSpeakers">
		<div ng-include="'./templates/localSpeakers.htm'"></div>
	</div>
	<div ng-switch-when="organizingC">
		<div ng-include="'./templates/organizing.committee.htm'"></div>
	</div>
	<div ng-switch-when="academicC">
		<div ng-include="'./templates/academic.committee.htm'"></div>
	</div>
	<div ng-switch-when="scientificC">
		<div ng-include="'./templates/scientific.committee.htm'"></div>
	</div>
	<div ng-switch-when="logisticsC">
		<div ng-include="'./templates/logistics.committee.htm'"></div>
	</div>
	<div ng-switch-when="communicationC">
		<div ng-include="'./templates/communication.committee.htm'"></div>
	</div>
	<div ng-switch-when="sponsors">
		<div ng-include="'./templates/sponsors.htm'"></div>
	</div>
	<div ng-switch-when="information">
		<div ng-include="'./templates/information.htm'"></div>
	</div>
	<div ng-switch-when="registration">
		<div ng-include="'./templates/registration.htm'"></div>
	</div>
</div>

<div ng-include="'./templates/login.htm'"></div>

<!--  ZONA DE CONTACTO -->
<footer class="text-center">
    <div class="col-md-6 col-xs-12">
        <p>&COPY; 2016 II English Teaching Congress</p>
    </div>
    <div class="col-md-6 col-xs-12">
        <p>Contact: <a href="mailto:englishteachingcongress2@gmail.com">englishteachingcongress2@gmail.com</a></p>
    </div>
</footer>

<!-- BOTON IR ARRIBA -->
<span class="icon fa fa-arrow-up" ng-click="goTop();"></span>