<nav class="navbar navbar-default">
	<div class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
      			<span class="sr-only">Toggle navigation</span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" ng-click="activeNav=''" href="#/">
				<img src="./images/logo.png">
			</a>
  		</div>
  		<div class="navbar-collapse collapse navBar">
    		<ul class="nav navbar-nav navbar-right">
      			<li ng-click="activeNav=''"><a href="#/" class="active">HOMEPAGE</a></li>
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown">ABOUT US <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='presentation'"><a>PRESENTATION</a></li>
		                <li ng-click="activeNav='misionVision'"><a>MISION & VISION</a></li>
		                <li ng-click="activeNav='objectives'"><a>OBJECTIVES OF THE CONGRESS</a>
		                <li ng-click="activeNav='population'"><a>TARGET POPULATION</a>
		                <li ng-click="activeNav='importance'"><a>IMPORTANCE</a>
		        	</ul>
		      	</li>
		      	<li ng-click="activeNav='thematic'"><a>THEMATIC STRANDS</a></li>
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown">COMMITTEES <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='organizingC'"><a>ORGANIZING COMMITTEE</a></li>
		                <li ng-click="activeNav='academicC'"><a>ACADEMIC COMMITTEE</a></li>
		                <li ng-click="activeNav='scientificC'"><a>SCIENTIFIC COMMITTEE</a>
		                <li ng-click="activeNav='logisticsC'"><a>LOGISTICS COMMITTEE</a>
		                <li ng-click="activeNav='communicationC'"><a>COMMUNICATION COMMITTEE</a>
		        	</ul>
		      	</li>
		      	<li ng-click="activeNav='registration'"><a>REGISTRATION</a>
		      	<li ng-click="activeNav='speakers'"><a>SPEAKERS</a></li>
		      	<li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown">SPONSORS <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		          		<li ng-click="activeNav='sponsors'"><a>SPONSORS</a></li>
		                <li ng-click="activeNav='exhibitors'"><a>EXHIBITORS</a></li>
		                <li ng-click="activeNav='colaborators'"><a>COLABORATORS</a></li>
		        	</ul>
		      	</li>
        		<li data-toggle="modal" data-target="#logIn"><a>LOG IN</a></li>
    		</ul>
 		</div>
	</div>
</nav>

<!-- ZONA DE INFORMACION -->
<div class="container" ng-switch="activeNav">
	<div ng-switch-when="">
		<div ng-include="'./templates/home.htm'"></div>
	</div>
	<div ng-switch-when="presentation"> 
		<div ng-include="'./templates/presentation.htm'"></div>
	</div>
	<div ng-switch-when="misionVision"> 
		<div ng-include="'./templates/mision.vision.htm'"></div>
	</div>
	<div ng-switch-when="objectives">
		<div ng-include="'./templates/objectives.htm'"></div>
	</div>
	<div ng-switch-when="population">
		<div ng-include="'./templates/population.htm'"></div>
	</div>
	<div ng-switch-when="importance">
		<div ng-include="'./templates/importance.htm'"></div>
	</div>
	<div ng-switch-when="thematic">
		<div ng-include="'./templates/thematic.htm'"></div>
	</div>
	<div ng-switch-when="organizingC">
		<div ng-include="'./templates/organizing.committee.htm'"></div>
	</div>
	<div ng-switch-when="academicC">
		<div ng-include="'./templates/academic.committee.htm'"></div>
	</div>
	<div ng-switch-when="scientificC">
		<div ng-include="'./templates/scientific.committee.htm'"></div>
	</div>
	<div ng-switch-when="logisticsC">
		<div ng-include="'./templates/logistics.committee.htm'"></div>
	</div>
	<div ng-switch-when="communicationC">
		<div ng-include="'./templates/communication.committee.htm'"></div>
	</div>
	<div ng-switch-when="registration" ng-controller="registrationCtrl">
		<div class="underline-bottom montserrat">
			<h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Registration</h3>
		</div>
		<br>
		<!-- ELEMENTOS -->
		<div class="col-md-12">
			<div class="col-md-6">
			    <p>
			        <label>Identification</label>
			        <input ng-model="id" class="form-control" type="text" ng-blur="validateId();">
			        <div class="alert alert-danger" ng-show="errorId">The identification is already registered.</div>
			    </p>
			</div>
			<div class="col-md-6">
			    <p>
			        <label>Password</label>
			        <input ng-model="pass" class="form-control" type="password">
			    </p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
			    <p>
			        <label>Full name</label>
			        <input ng-model="name" class="form-control" type="text">
			    </p>
			</div>
			<div class="col-md-6">
			    <p>
			        <label>Group</label><br>
			        <select ng-model="group" class="form-control">
						<option value="Dirección Regional de Educación, San Carlos">Dirección Regional de Educación, San Carlos</option>
						<option value="Dirección Regional de Educación, Norte-Norte">Dirección Regional de Educación, Norte-Norte</option>
						<option value="Dirección Regional de Educación, Sarapiquí">Dirección Regional de Educación, Sarapiquí</option>
						<option value="Dirección Regional de Educación, Occidente">Dirección Regional de Educación, Occidente</option>
						<option value="Consejo Académico Regional">Consejo Académico Regional</option>
						<option value="General Public">General Public</option>
					</select>
			    </p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
			    <p>
			        <label>E-mail address</label>
			        <input ng-model="email" class="form-control" type="text" ng-blur="validateEmail();">
			        <div class="alert alert-danger" ng-show="errorEmail">E-mail address is already registered.</div>
			    </p>
			</div>
			<div class="col-md-6">
			    <p>
			        <label>Phone number</label>
			        <input ng-model="phone" class="form-control" type="text">
			    </p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
			    <p>
			        <label>Nationality</label>
			        <input ng-model="nationality" class="form-control" type="text">
			    </p>
			</div>
			<div class="col-md-6">
			    <p>
			        <label>Receipt or deposit number</label>
			        <input ng-model="depositNumber" class="form-control" type="text">
			    </p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
			    <p>
			        <label>Dirección Regional de Educación</label>
          			<br><md-checkbox ng-model="direccion.norte" class="md-primary" ng-true-value="'Norte-Norte'" ng-false-value="''">Norte-Norte</md-checkbox>
          			<br><md-checkbox ng-model="direccion.sanCarlos" class="md-primary" ng-true-value="'San Carlos'" ng-false-value="''">San Carlos</md-checkbox>
          			<br><md-checkbox ng-model="direccion.sarapiqui" class="md-primary" ng-true-value="'Sarapiquí'" ng-false-value="''">Sarapiquí</md-checkbox>
          			<br><md-checkbox ng-model="direccion.occidente" class="md-primary" ng-true-value="'Occidente'" ng-false-value="''">Occidente</md-checkbox>
			        <br><input ng-model="direccion.other" class="form-control" type="text" placeholder="If your choice is not listed, enter here">
			    </p>
			</div>
			<div class="col-md-6">
			    <p>
			        <label>How did you get informed about the congress?</label>
			        <br><md-checkbox ng-model="informed.email" class="md-primary" ng-true-value="'Email'" ng-false-value="''">Email</md-checkbox>
			        <br><md-checkbox ng-model="informed.facebook" class="md-primary" ng-true-value="'Facebook'" ng-false-value="''">Facebook page</md-checkbox>
			        <br><md-checkbox ng-model="informed.webSite" class="md-primary" ng-true-value="'Website'" ng-false-value="''">Website</md-checkbox>
			        <br><md-checkbox ng-model="informed.colleague" class="md-primary" ng-true-value="'Colleague'" ng-false-value="''">Colleague</md-checkbox>
			        <br><input ng-model="informed.other" class="form-control" type="text" placeholder="If your choice is not listed, enter here">
			    </p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
			    <p>
			        <label>Academic degree</label>
			        <br><md-checkbox ng-model="academic.student" class="md-primary" ng-true-value="'Student'" ng-false-value="''">Student</md-checkbox>
			        <br><md-checkbox ng-model="academic.associate" class="md-primary" ng-true-value="'Associate\'s degree'" ng-false-value="''">Associate's degree</md-checkbox>
			        <br><md-checkbox ng-model="academic.bachelor" class="md-primary" ng-true-value="'Bachelor\'s degree'" ng-false-value="''">Bachelor's degree</md-checkbox>
			        <br><md-checkbox ng-model="academic.licentiate" class="md-primary" ng-true-value="'Licentiate degree'" ng-false-value="''">Licentiate degree</md-checkbox>
			        <br><md-checkbox ng-model="academic.master" class="md-primary" ng-true-value="'Master\'s degree'" ng-false-value="''">Master's degree</md-checkbox>
			        <br><md-checkbox ng-model="academic.doctorate" class="md-primary" ng-true-value="'Doctorate degree'" ng-false-value="''">Doctorate degree</md-checkbox>
			        <br><input ng-model="academic.other" class="form-control" type="text" placeholder="If your choice is not listed, enter here">
			        <h5 class="text-error" id="error-academic-degree"></h5>
			    </p>
			</div>
			<div class="col-md-6">
			    <p>
			        <label>Teaching population</label>
			        <br><md-checkbox ng-model="population.elementary" class="md-primary" ng-true-value="'Elementary'" ng-false-value="''">Elementary</md-checkbox>
			        <br><md-checkbox ng-model="population.highSchool" class="md-primary" ng-true-value="'High school'" ng-false-value="''">High school</md-checkbox>
			        <br><md-checkbox ng-model="population.higherEducation" class="md-primary" ng-true-value="'Higher education'" ng-false-value="''">Higher education</md-checkbox>
			        <br><input ng-model="population.other" class="form-control" type="text" placeholder="If your choice is not listed, enter here">
			    </p>
			</div>
		</div>
		<div class="col-md-12 col-xs-12">
			<br>
		    <center><button ng-disabled="emptyData || errorId || errorEmail" ng-click="registration()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Sign up</button></center>
		</div>
		<div class="col-md-12 col-xs-12">
			<br>
			<div ng-show="registrationOk" class="alert alert-success text-center">Registration was successful.</div>
			<div ng-show="registrationError" class="alert alert-danger text-center">An error has occurred in the register. Try again.</div>
			<div ng-show="groupError" class="alert alert-danger text-center">The selected group does not have capacity.</div>
		</div>
	</div>
	<div ng-switch-when="sponsors">
		<div ng-include="'./templates/sponsors.htm'"></div>
	</div>
	<div ng-switch-when="exhibitors">
		<div ng-include="'./templates/exhibitors.htm'"></div>
	</div>
	<div ng-switch-when="colaborators">
		<div ng-include="'./templates/colaborators.htm'"></div>
	</div>
	<div ng-switch-when="speakers">
		<div ng-include="'./templates/speakers.htm'"></div>
	</div>
</div>

<!--  ZONA DE CONTACTO -->
<footer class="text-center">
    <div class="col-md-6 col-xs-12">
        <p>&COPY; 2016 II English Teaching Congress</p>
    </div>
    <div class="col-md-6 col-xs-12">
        <ul>
            <li>Contact: <a href="mailto:#">englishteachingcongress2@gmail.com</a></li>
        </ul>
    </div>
</footer>

<!-- BOTON IR ARRIBA -->
<span scrollup class="icon fa fa-arrow-up"></span>

<div ng-controller="loginCtrl">
	<div id="logIn" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header montserrat">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h3><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log in</h3>
	            </div>
	            <div class="modal-body">
	                <form role="form">
	                    <div class="form-group">
	                        <label><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;E-mail address</label>
	                        <div>
	                            <input ng-model="email" type="text" class="form-control">
	                        </div>
	                    </div> 
	                    <div class="form-group">
	                        <label><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Password</label>
	                        <div>
	                            <input ng-model="pass" ng-keydown="enterLogin($event);" type="password" class="form-control">
	                        </div>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	            	<div ng-show="errorLogin" class="alert alert-warning text-center">The email or password is incorrect.</div>
	            	<div ng-show="error" class="alert alert-warning text-center">An unexpected error has occurred. Please try again.</div>
	            	<button id="closeLogIn" type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancel</button>
	            	&nbsp;&nbsp;
	                <button type="button" class="btn btn-primary" ng-disabled="emptyData" data-ng-click="login(); $event.stopPropagation()"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log in</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>