<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="activeNav=''" href="#/">
                <img src="./images/logo.png">
            </a>
        </div>
        <div class="navbar-collapse collapse navBar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="loadPersons()"><a class="first">ALL PERSONS</a></li>
                <li ng-click="loadSessions()"><a>ALL SESSIONS</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{admin.fullName | uppercase}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="logOut()"><a><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;LOG OUT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-switch on="activeNav">
    <div ng-show="error" class="alert alert-danger text-center">An unexpected error has occurred. Please try again.</div>
	<div ng-switch-when="sessions">
		<label class="title montserrat"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;All sessions</label>
		<table class="table table-striped box">
            <thead>
                <tr>
                    <th><label class="subtitle">Name</label></th>
                    <th><label class="subtitle">Location</label></th>
                    <th><label class="subtitle">Date</label></th>
                    <th><label class="subtitle">Start time</label></th>
                    <th><label class="subtitle">Finish time</label></th>
                    <th><label class="subtitle">Capacity</label></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in sessions">
                    <td>{{session.name}}</td>
                    <td>{{session.location}}</td>
                    <td>{{session.date}}</td>
                    <td>{{session.hourStart}}</td>
                    <td>{{session.hourFinish}}</td>
                    <td>{{session.capacity}}/{{session.maxCapacity}}</td>
                </tr>
            </tbody>
      </table>
	</div>
	<div ng-switch-when="persons">
		<label class="title montserrat"><span class="fa fa-users"></span>&nbsp;&nbsp;All persons</label>
        <div class="form-group box">
            <label class="col-sm-2">Filter persons by ID:</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchID" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
		<table class="table table-striped box">
            <thead>
                <tr>
                    <th><label class="subtitle">ID</label></th>
                    <th><label class="subtitle">Name</label></th>
                    <th><label class="subtitle">Email</label></th>
                    <th><label class="subtitle">Phone number</label></th>
                    <th><label class="subtitle">Nationality</label></th>
                    <th><label class="subtitle">Place</label></th>
                    <th><label class="subtitle">Receipt</label></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in persons | filter:searchID">
                    <td>{{person.id}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.phoneNumber}}</td>
                    <td>{{person.nationality}}</td>
                    <td>{{person.regionGroup}}</td>
                    <td>{{person.receipt}}</td>
                </tr>
            </tbody>
      </table>
	</div>
</div>

<!-- BOTON IR ARRIBA -->
<span class="icon fa fa-arrow-up be-black" ng-click="goTop();"></span>