<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="./images/logo.png">
            </a>
        </div>
        <div class="navbar-collapse collapse navBar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="loadPersons();"><a style="color: #FF770D;">ALL PERSONS</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">SESSIONS <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="addSesion();"><a style="color: #2E32BF;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;ADD</a></li>
                        <li ng-click="loadSessions();"><a style="color: #2E32BF;"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;ALL</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">{{admin.name | uppercase}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="logOut()"><a style="color: #2E32BF;"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;LOG OUT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-switch on="activeNav">
    <div ng-show="error" class="alert alert-danger text-center">An unexpected error has occurred. Please try again.</div>
	<div ng-switch-when="sessions">
		<label class="title montserrat"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;All sessions</label>
		<table class="table table-striped box">
            <thead>
                <tr>
                    <th><label class="subtitle">Name</label></th>
                    <th><label class="subtitle">Location</label></th>
                    <th><label class="subtitle">Date</label></th>
                    <th><label class="subtitle">Time</label></th>
                    <th><label class="subtitle">Availability</label></th>
                    <th><label class="subtitle">Actions</label></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in sessions">
                    <td>{{session.name}}</td>
                    <td>{{session.location}}</td>
                    <td>{{session.date}}</td>
                    <td>{{session.hourStart}} to {{session.hourFinish}}</td>
                    <td>{{session.capacity}} of {{session.maxCapacity}}</td>
                    <td>
                        <span class="glyphicon glyphicon-pencil"><md-tooltip md-direction="top">Edit session</md-tooltip></span>
                        &nbsp;
                        <span class="glyphicon glyphicon-trash"><md-tooltip md-direction="top">Remove session</md-tooltip></span>
                    </td>
                </tr>
            </tbody>
      </table>
	</div>
    <div ng-switch-when="addSesion">
		<label class="title montserrat"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add session</label>
        <div ng-include="'./Session/session.html'"></div>
	</div>
	<div ng-switch-when="persons">
		<label class="title montserrat"><span class="fa fa-users"></span>&nbsp;&nbsp;All persons</label>
        <div class="box">
            <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6 col-xs-12">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" ng-model="searchID" placeholder="Filter persons">
                </div>  
            </div>
        </div>
        <br>
		<table class="table table-striped box">
            <thead>
                <tr>
                    <th><label class="subtitle">ID</label></th>
                    <th><label class="subtitle">Name</label></th>
                    <th><label class="subtitle">Email</label></th>
                    <th><label class="subtitle">Phone</label></th>
                    <th><label class="subtitle">Workplace</label></th>
                    <th><label class="subtitle">Place</label></th>
                    <th><label class="subtitle">Receipt</label></th>
                    <th><label class="subtitle">Remove</label></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in persons | filter:searchID">
                    <td>{{person.id}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.phoneNumber}}</td>
                    <td>{{person.workplace}}</td>
                    <td>{{person.regionGroup}}</td>
                    <td><span ng-class="{'fa fa-square': person.receipt == 1, 'fa fa-square-o': person.receipt == 0}" ng-click="changeReceiptState(person.id, person.receipt);"><md-tooltip md-direction="top">Change receipt state</md-tooltip></span></td>
                    <td><span class="glyphicon glyphicon-trash" ng-click="removePerson($event, person.id, person.regionGroup);"><md-tooltip md-direction="top">Remove person</md-tooltip></span></td>
                </tr>
            </tbody>
      </table>
	</div>
</div>

<!-- BOTON IR ARRIBA -->
<span class="icon fa fa-arrow-up" ng-click="goTop();"></span>