<div class="underline-bottom">
    <label class="title montserrat">Academic Committee</label>
</div>
<ul class="list-unstyled">
  	<li>
      	<label class="subtitle">Coordinator: Lic. Gerardo Matamoros Arce, Universidad Técnica Nacional</label>
      	<ul style="list-style-type: none">
          	<li>Licda. Gabriela Castillo Hernández, Ministerio de Educación</li>
          	<li>MSc. Eduardo Castro Miranda, Universidad Técnica Nacional</li>
     	</ul>
     	<label class="subtitle">Collaborator: Licda. Yerlin María Solís Pérez, Instituto Nacional de Aprendizaje</label>
  	</li>
</ul>
<div class="image-box">
  <center><div class="circle" back-img="./images/ComiteOrganizador/ComisionAcademica.jpg"></div></center>
</div>