<div class="underline-bottom montserrat">
    <h3>Academic Committee</h3>
</div>
<br>
<ul class="list-unstyled">
  	<li>
      	<h4><b>Coordinator: </b>Lic. Gerardo Matamoros Arce, Universidad Técnica Nacional</h4>
      	<ul style="list-style-type: none">
          	<li>Licda. Gabriela Castillo Hernández, Ministerio de Educación</li>
          	<li>MSc. Eduardo Castro Miranda, Universidad Técnica Nacional</li>
     	</ul>
     	<h4><b>Collaborator: </b>Licda. Yerlin María Solís Pérez, Instituto Nacional de Aprendizaje</h4>
  	</li>
</ul>