<div class="underline-bottom montserrat">
    <h3>Communication Committee</h3>
</div>
<br>
<ul class="list-unstyled">
    <li>
        <h4><b>Coordinator: </b>MAMC. María Auxiliadora Zúñiga, Universidad de San José</h4>
        <ul style="list-style-type: none">
            <li>Licda. Grettel Corrales Corrales, Universidad de San José</li>
      	</ul>
      	<h4><b>Collaborators: </b></h4>
      	<ul style="list-style-type: none">
            <li>Lic. Gerardo Matamoros Arce, Universidad Técnica Nacional</li>
            <li>MSc. Eduardo Castro Miranda, Universidad Técnica Nacional</li>
      	</ul>
    </li>
</ul>
<div>
	<br>
	<center><img src="" width="700" height="400"></center>
	<br>
</div>