<div>
    <label class="title montserrat">Communication Committee</label>
</div>
<ul class="list-unstyled">
    <li>
        <div>
          <label class="subtitle">Coordinator: Licda. Grettel Corrales Corrales, Universidad de San José</label>
        </div>
      	<label class="subtitle">Collaborators:</label>
      	<ul style="list-style-type: none">
            <li>Lic. Gerardo Matamoros Arce, Universidad Técnica Nacional</li>
            <li>MSc. Eduardo Castro Miranda, Universidad Técnica Nacional</li>
      	</ul>
    </li>
</ul>
<div class="image-box">
  <center><div class="circle" back-img=""></div></center>
</div>