<div class="underline-bottom">
    <label class="title montserrat">Communication Committee</label>
</div>
<ul class="list-unstyled">
    <li>
        <label class="subtitle">Coordinator: MAMC. María Auxiliadora Zúñiga, Universidad de San José</label>
        <ul style="list-style-type: none">
            <li>Licda. Grettel Corrales Corrales, Universidad de San José</li>
      	</ul>
      	<label class="subtitle">Collaborators:</label>
      	<ul style="list-style-type: none">
            <li>Lic. Gerardo Matamoros Arce, Universidad Técnica Nacional</li>
            <li>MSc. Eduardo Castro Miranda, Universidad Técnica Nacional</li>
      	</ul>
    </li>
</ul>
<div class="image-box">
	<center><img src="" width="800" height="500"></center>
</div>