<div class="underline-bottom">
	<label class="title montserrat">Congress presentations</label>
</div>

<div class="margin">
	<label class="subtitle">Practice-Oriented Presentation (45 minutes)</label>
	<p>A session that presents a teaching or assessment method about a specific topic. The main practical aspects will be developed during the presentation. At the end of this presentation, there will be a period for questions or comments from the audience.</p>
</div>
<div class="margin">
	<label class="subtitle">Research-Oriented Presentation (45 minutes)</label>
	<p>A session that consists of a lecture about the most relevant aspects of a research project or a topic being researched. At the end of this presentation, there will be a period for questions or comments from the audience.</p>
</div>
<div class="margin">
	<label class="subtitle">Interactive Presentation (90 minutes)</label>
	<p>A structured, hands-on, practical session with vast interaction with the presenter and the audience in order to enhance different skills and competencies.</p>
</div>
<div class="margin">
	<label class="subtitle">Teaching Tip Presentation (30 minutes)</label>
	<p>A session that consists of an oral presentation about a successful teaching experience. At the end of this presentation, there will be a period for questions or comments from the audience.</p>
</div>
<div class="margin">
	<label class="subtitle">Discussion Group (60 minutes)</label>
	<p>A session that consists of a debate among different professionals about a current topic. Experts have a limited amount of time for their participation. There is a moderator conducting the discussion. At the end of this session, there will be a period for questions or comments from the audience.</p>
</div>
<div class="margin">
	<label class="subtitle">Roundtable Exchange (60 minutes)</label>
	<p>A session that consists of a small group of panelists (up to three) who address a specific topic. Experts have a limited amount of time for their participation. There is a moderator conducting the discussion. At the end of this presentation, there will be a period for questions or comments from the audience.</p>
</div>
<div class="margin">
	<label class="subtitle">Invited Speaker (45 minutes)</label>
	<p>A session that features a speaker who delivers a lecture about a topic related with the mission and vision of the congress. This presentation is coordinated by the Organizing Committee. At the end of the lecture, there will be a period of questions or comments from the audience.</p>
</div>