<div class="underline-bottom">
    <label class="title montserrat">Guest speakers</label>
</div>
<div class="panel-group" id="accordion">
  	<div class="panel panel-default" ng-repeat="person in persons">
    	<div class="panel-heading">
      		<label class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" data-target="#{{person.id}}">{{person.name}}</a>
      		</label>
    	</div>
    	<div id="{{person.id}}" class="panel-collapse collapse">
      		<div class="panel-body">
            <div class="speaker-photo" back-img="{{person.image}}"></div>
            <p>Institution: {{person.institution}}.</p>
	      		<p>{{person.description}}</p>
      		</div>
    	</div>
  	</div>
</div>