<div>
	<label class="title montserrat">Welcome</label>
</div>
<p>Welcome to the home webpage of the II English Teaching Congress, Huetar Northern Region to be held on Thursday June 16 and Friday June 17, 2016, at Centro de Transferencia Tecnológica y Educación Continua (CTEC), San Carlos Regional Headquarters, Instituto Tecnológico de Costa Rica, Santa Clara, Florencia, Costa Rica.</p>
<p>The II English Teaching Congress seeks to provide English educators with innovative pedagogical practices when teaching English as a foreign language. The Congress promotes a reflective and interactive academic space in order to make a positive socio-academic impact inside and outside the classroom.</p>
<p>The main theme of the Congress is the improvement of teaching practices. This will be an opportunity for English educators to exchange ideas and practices, learn about a wide range of topics and current trends, expand their professional networks, and review the publications and resources from different publishing houses related to the teaching of English as a foreign language.</p>
<p>This Congress is a partnership among various institutions and universities of the Huetar Northern Region, which includes:</p>
<ul>
	<li>Agencia para el Desarrollo de la Zona Económica Especial, Región Huetar Norte.</li>
	<li>Centro de Transferencia y Educación Continua, San Carlos.</li>
	<li>Instituto Nacional de Aprendizaje, Región Huetar Norte.</li>
	<li>Instituto Tecnológico de Costa Rica, Sede San Carlos, Escuela de Idiomas y Ciencias Sociales.</li>
	<li>Ministerio de Educación Pública, Sede Regional San Carlos.</li>
	<li>Universidad Estatal a Distancia, Sede San Carlos.</li>
	<li>Universidad de San José, Sede Central San Carlos.</li>
	<li>Universidad Técnica Nacional, Sede San Carlos.</li>
</ul>
<br>
<p>Thank you and we look forward to seeing you in the congress.</p>
<br><br>
<p>Sincerely,</p>
<p>The Organizing Committee</p>
<br><br>
<p>Follow us on &nbsp; <a class="fa fa-facebook-official" href="https://www.facebook.com/II-English-Teaching-Congress-1490259171273941/?fref=ts" target="_blank"></a></p>