<div>
    <label class="title montserrat">Information</label>
</div>
<div>
	<ul class="nav nav-tabs">
    	<li class="active"><a data-toggle="tab" data-target="#bus">Bus schedule</a></li>
    	<li><a data-toggle="tab" data-target="#hotels">Hotels and cabins</a></li>
    	<li><a data-toggle="tab" data-target="#bank">Bank branches and pharmacies</a></li>
  	</ul>

  	<div class="tab-content">
	    <div id="bus" class="tab-pane fade in active">
	    	<div class="margin">
	    		
	    	</div>
	    </div>
	    <div id="hotels" class="tab-pane fade">
	    	<div class="margin">
	    		
	    	</div>

	    </div>
	    <div id="bank" class="tab-pane fade">
	    	<div class="margin">
	    		
	    	</div>

	    </div>
  	</div>
</div>
</div>