<div class="underline-bottom">
    <label class="title montserrat">Logisitics Committee</label>
</div>
<ul class="list-unstyled">
    <li>
        <label class="subtitle">Coordinator: Licda. Yerlin María Solis Pérez, Instituto Nacional de Aprendizaje</label>
        <ul style="list-style-type: none">
            <li>MSc. María Yorleni Mora Rivera, Universidad Estatal a Distancia</li>
            <li>Bach. Paola Rodríguez Corrales, Universidad Estatal a Distancia</li>
            <li>Lic. Enrique Rojas Ferraro, Universidad de San José</li>
      </ul>
      <label class="subtitle">Collaborator: MA. Johanny Vallecillo Alfaro, Instituto Tecnológico de Costa Rica</label>
    </li>
</ul>
<div class="image-box">
    <center><div class="circle" back-img="./images/ComiteOrganizador/ComisionDeLogistica.jpg"></div></center>
</div>