<div class="underline-bottom montserrat">
    <h3>Logisitics Committee</h3>
</div>
<br>
<ul class="list-unstyled">
    <li>
        <h4><b>Coordinator: </b>Licda. Yerlin María Solis Pérez, Instituto Nacional de Aprendizaje</h4>
        <ul style="list-style-type: none">
            <li>MSc. María Yorleni Mora Rivera, Universidad Estatal a Distancia</li>
            <li>Bach. Paola Rodríguez Corrales, Universidad Estatal a Distancia</li>
            <li>Lic. Enrique Rojas Ferraro, Universidad de San José</li>
      </ul>
      <h4><b>Collaborator: </b>MA. Johanny Vallecillo Alfaro, Instituto Tecnológico de Costa Rica</h4>
    </li>
</ul>