<div>
	<label class="title montserrat">Mision</label>
</div>
<p>To contribute with the improvement of the teaching practices of English educators of Huetar Northern Region, through the development and exchanging of pedagogical experiences, effective training, and the use of innovative tools of the teaching-learning process of English as a foreign language.</p>
<br>
<div>
	<label class="title montserrat">Vision</label>
</div>
<p>To promote academic spaces to delve into pedagogical meditation, collaboration, and effective feedback to contribute to the effectiveness of the teaching-learning process of English as a foreign language of Huetar Northern´s English educators.</p>