<div>
	<label class="title montserrat">Objectives of the congress</label>
</div>
<label class="subtitle montserrat">General objective</label>
<ul>
	<li>To strengthen the educational opportunities for the development of innovative teaching practices and pedagogical mediation of English teaching as a foreign language through the establishment of collaborative partnerships in order to contribute with the socio-economical, educational, and cultural development of Región Huetar Norte, Costa Rica.</li>
</ul>
<label class="subtitle">Specific objectives</label>
<ul>
	<li>Provide innovative pedagogical tools to the English teachers of Huetar Northern Region, Costa Rica to strengthen the teaching-learning process of English as a foreign language.</li>
	<li>Establish collaboration, networking, and academic exchange among the English teachers and the educational institutions of Huetar Northern Region, Costa Rica.</li>
	<li>Promote strategic partnerships between educational institutions of Huetar Northern Region, Costa Rica to strengthen the teaching-learning process of English as a foreign language.</li>
</ul>