<div class="underline-bottom montserrat">
	<h3>Objectives of the congress</h3>
</div>
<br>
<h4 class="montserrat">General objective</h4>
<ul>
	<li>To strengthen the educational opportunities for the development of innovative teaching practices and pedagogical mediation of English teaching as a foreign language through the establishment of collaborative partnerships in order to contribute with the socio-economical, educational, and cultural development of Región Huetar Norte, Costa Rica.</li>
</ul>

<h4 class="montserrat">Specific objectives</h4>
<ul>
	<li>Provide innovative pedagogical tools to the English teachers of Huetar Northern Region, Costa Rica to strengthen the teaching-learning process of English as a foreign language.</li>
	<li>Establish collaboration, networking, and academic exchange among the English teachers and the educational institutions of Huetar Northern Region, Costa Rica.</li>
	<li>Promote strategic partnerships between educational institutions of Huetar Northern Region, Costa Rica to strengthen the teaching-learning process of English as a foreign language.</li>
</ul>