<div>
	<label class="title montserrat">Organizing Committee</label>
</div>
<ul class="list-unstyled">
  	<li>
      	<label class="subtitle montserrat">General Coordinator</label>
      	<p>Dra. Patricia López Estrada, Instituto Tecnológico de Costa Rica</p>
      	<ul style="list-style-type: none">
          	<li>MSc. María Yorleni Mora Rivera, Universidad Estatal a Distancia</li>
          	<li>Bach. Paola Rodríguez Corrales, Universidad Estatal a Distancia</li>
          	<li>Lic. Enrique Rojas Ferraro, Universidad de San José  </li>
          	<li>Licda. Grettel Corrales Corrales, Universidad de San José  </li>
          	<li>Licda. Sonia Villegas Salas, Instituto Tecnológico de Costa Rica</li>
          	<li>MA. Johanny Vallecillo Alfaro, Instituto Tecnológico de Costa Rica</li>
          	<li>Licda. Yerlin María Solís Pérez, Instituto Nacional de Aprendizaje </li>
          	<li>Licda. Gabriela Castillo Hernández, Ministerio de Educación </li>
          	<li>Lic. Gerardo Matamoros Arce, Universidad Técnica Nacional</li>
          	<li>MSc. Eduardo Castro Miranda, Universidad Técnica Nacional</li>
          	<li>Lic. Keylor Sánchez Sandí, Universidad Técnica Nacional</li>
     	</ul>
  	</li>
</ul>
<br>
<!--  ZONA DE LOGOS -->
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/zee.png" width="120px" height="100px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/ctec.png" width="175px" height="100px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/INA.png" width="175px" height="85px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/tec.png" width="175px" height="95px"></center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/mep.png" width="100px" height="90px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/uned.png" width="110px" height="90px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/u_san_jose.png" width="175px" height="90px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/utn.png" width="110px" height="90px"></center>
    </div>
  </div>
  <br>
</div>