<div class="underline-bottom montserrat">
	<label class="title">Presentation</label>
</div>
<br>
<p>English is the most widely spoken language in the world, which makes it an essential tool for the development of competencies in socio-economic and educational contexts. The II English Teaching Congress, Huetar Northern Region, Costa Rica seeks to offer an opportunity to enhance pedagogical experiences through the dialogue in terms of the challenges that educators face in the Huetar Northern Region. The main objective is to contribute to the improvement of teaching practices.</p>
<p>This executive summary presents the mission and vision of the congress. It also indicates the objectives, the importance, the location, the main theme and the thematic strands. Finally, it states the target population, the dates of the congress, and the Organizing Committee. The main purpose of this summary is to provide relevant information about the congress.</p>