<div>
	<label class="title montserrat">Congress program</label>
</div>
<div>
	<ul class="nav nav-pills nav-justified margin">
		<li class="active"><a data-toggle="tab" data-target="#thursday">Thursday, June 16</a></li>
		<li><a data-toggle="tab" data-target="#friday">Friday, June 17</a></li>
	</ul>
	<div class="tab-content">
		<div id="thursday" class="tab-pane margin text-center fade in active">
			<div class="program-box padding">
				<table class="table">
					<thead>
						<tr>
							<th style="border-bottom: 3px solid #F89624;">Time</th>
							<th style="border-bottom: 3px solid #F89624;">Session Type</th>
							<th style="border-bottom: 3px solid #F89624;">Presenter</th>
							<th style="border-bottom: 3px solid #F89624;">Presentation Title</th>
							<th style="border-bottom: 3px solid #F89624;">Room</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>07:00</td>
							<td>Registration</td>
							<td></td>
							<td>Materials Pick-up / Goodie Bags</td>
							<td></td>
						</tr>
						<tr>
							<td>08:00</td>
							<td>Opening Ceremony</td>
							<td></td>
							<td>Welcoming, Invited Speakers, Cultural &amp; Artistic Performances</td>
							<td></td>
						</tr>
						<tr class="be-sky-blue white">
							<td colspan="5">
								<div class="text-center">09:00 – 09:30 &nbsp;&nbsp; Coffee Break / Exhibit Hall</div>
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 2px solid #28A9E1;">9:30 - 10:30</td>
							<td style="border-bottom: 2px solid #28A9E1;">Plenary (60')</td>
							<td style="border-bottom: 2px solid #28A9E1;">MA. Ana Isabel Campos Centeno &amp; MEd. Marianella Granados Sirias</td>
							<td style="border-bottom: 2px solid #28A9E1;">The New English Curriculum: Daring to Join the Change</td>
							<td style="border-bottom: 2px solid #28A9E1;">Auditorio CTEC</td>
						</tr>
						<tr>
							<td rowspan="12">10:30 - 12:00</td>
							<td>Teaching Tip (30')</td>
							<td>ML. Rosberly López Montero</td>
							<td>Hop on, Hop off! A City Tour in the English Class</td>
							<td>Turismo 3</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>Bach. Erick Salas Acuña</td>
							<td>Bringing Literature to Life: Reading for Learning, Feeling and Thinking</td>
							<td>Aula 2</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>MA. Veronica Oguilve</td>
							<td>Meaningful Teaching with IPA</td>
							<td>Laboratorio Inglés</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Licda. Michelle Leip</td>
							<td>Increasing Student Engagement</td>
							<td>Laboratorio Agromática</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>MA. Francisco Vargas</td>
							<td>Using Technology in the Language Classroom</td>
							<td>Aula 14</td>
						</tr>
						<tr>
							<td>Teaching Tip (30') Video Conference</td>
							<td>Dra. Marieta Simeonova-Pissarro</td>
							<td>Engaging ESL College Learners with Interactive Open Source Materials</td>
							<td>Miniauditorio Agronomía</td>
						</tr>
						<tr>
							<td>TeachingTip (30')</td>
							<td>MBA. Joel Álvarez</td>
							<td>Teaching and Assessing English Language Learners</td>
							<td>Aula Colegio Científico (5tos)</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Dr. Jorge Aguilar Sánchez</td>
							<td>Assessment and Communication: Going Beyond the Testing Era</td>
							<td>Aula 10</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Yorleny Romero Chaves &amp; MA. Marisol Rojas Salas</td>
							<td>Teach successfully with the TBL (Task Based Learning)</td>
							<td>Aula 9</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>ML. Paola Gabriela Artavia Mora &amp; Lic. Alberto González Céspedes</td>
							<td>ESL Schools: An Educational Adventure</td>
							<td>Miniauditorio Computación</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Constantine Ioannou</td>
							<td>Using Stories and Narratives in the English Classroom</td>
							<td>Tecnoaula 2</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Danilo Alpizar Lobo</td>
							<td>Towards Achieving Success in the TOEIC Test</td>
							<td>Tecnoaula 1</td>
						</tr>
						<tr class="be-sky-blue white">
							<td colspan="5">
								<div class="text-center">12:00 – 13:30 &nbsp;&nbsp; Lunch Break</div>
							</td>
						</tr>
						<tr>
							<td rowspan="12">13:30 - 15:00</td>
							<td>Interactive Presentation (90')</td>
							<td>MSc. Jonathan Salas Alvarado</td>
							<td>The Use of Theater and Acting Techniques in the English Class</td>
							<td>Aula 6</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Licda. Ana Cecilia Sawyers Gómez</td>
							<td>10 Gre@t Websites for Teachers</td>
							<td>Miniauditorio Agronomía</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Dr. Max Arias Segura</td>
							<td>How Can I Gamify my ESL Classroom?</td>
							<td>Aula 10</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Marlon Pérez Pérez</td>
							<td>Webquests: An Excellent Teaching Tool</td>
							<td>Tecnoaula 1</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Johanny Vallecillo Alfaro</td>
							<td>Increase Your Students’ Interest in Writing with Storybird</td>
							<td>Laboratorio Inglés</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Lic. Mark Foster Cormier</td>
							<td>Experiencing English: Designing Communicative Language Tasks</td>
							<td>Aula 3</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Cindy Rodríguez Soto</td>
							<td>Figuring Rubrics Out</td>
							<td>Miniauditorio Computación</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MBA. Joel Álvarez</td>
							<td>Increasing Student Talking Time</td>
							<td>Aula 9</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Michael L. Williams</td>
							<td>A Fluency Workshop</td>
							<td>Tecnoaula 2</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Roger Ramírez Draughn</td>
							<td>The Pronunciation House</td>
							<td>Aula Colegio Cintífico (5tos)</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Amanda Lynn Rossi</td>
							<td>Instructions: The Backbone of Giving Instructions</td>
							<td>Aula 4</td>
						</tr>
						<tr>
							<td>Research Presentation (90')</td>
							<td>Dra. Lorein Powell</td>
							<td>An Autochthonous Approach to in-Service EFL Professional Development</td>
							<td>Aula 5</td>
						</tr>
						<tr class="be-sky-blue white">
							<td colspan="5">
								<div class="text-center">15:00 – 15:30 &nbsp;&nbsp; Coffee Break / Exhibit Hall</div>
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 2px solid #28A9E1;">15:30 - 16:30</td>
							<td style="border-bottom: 2px solid #28A9E1;">Plenary (60')</td>
							<td style="border-bottom: 2px solid #28A9E1;">Dr. Jorge Aguilar Sánchez</td>
							<td style="border-bottom: 2px solid #28A9E1;">Communication and Emergent Technologies in the XXI Century Classroom</td>
							<td style="border-bottom: 2px solid #28A9E1;">Auditorio CTEC</td>
						</tr>
						<tr>
							<td rowspan="10">16:45 - 18:15</td>
							<td>Research Oriented (45')</td>
							<td>Licda. Norka Ureña Cruz</td>
							<td>Oral Production in Public Schools</td>
							<td>Aula COlegio Científico (5tos)</td>
						</tr>
						<tr>
							<td>Research Oriented (45')</td>
							<td>Dra. Ana María Chacón</td>
							<td>Using Students Linguistic Repertoire to Teach Spanish Literacy in a Two-Way First Grade Classroom</td>
							<td>Aula 6</td>
						</tr>
						<tr>
							<td>Research Oriented (45')</td>
							<td>MEd. Eric Herrera Molina</td>
							<td>Toolbox: A Project to Share Technological Tools Among Teachers</td>
							<td>Aula 14</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Lic. Kelley B. Williams</td>
							<td>Using Flashcards to Enhance Oral Performance</td>
							<td>Miniauditorio Computación</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Constantine Ioannou</td>
							<td>What's in the Task – Planning Assessment Instruction</td>
							<td>Tecnoaula 2</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Hazel Vega Quesada &amp; Meda. Natalia Ramírez Casalvolone</td>
							<td>A Leveling English Course for Prospective First Year Students of the English Majors of the UCR, SO</td>
							<td>Aula 9</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>MA. Francisco Vargas</td>
							<td>Using Technology in the Language Classroom</td>
							<td>Laboratorio Inglés</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Dra. Patricia López Estrada</td>
							<td>Using Google Docs as Effective Technology in Higher Education</td>
							<td>Tecnoaula 1</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Mary Scholl. Founder, Director, Centro Espiral Mana</td>
							<td>Formative Assessment in the Action-Oriented Classroom</td>
							<td>Aula 10</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Licda. Gabriela Castillo Hernández</td>
							<td>Building Bridges Between the Classroom and the Outside World</td>
							<td>Aula 5</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="friday" class="tab-pane margin text-center fade">
			<div class="program-box padding">
				<table class="table">
					<thead>
						<tr>
							<th style="border-bottom: 3px solid #F89624;">Time</th>
							<th style="border-bottom: 3px solid #F89624;">Session Type</th>
							<th style="border-bottom: 3px solid #F89624;">Presenter</th>
							<th style="border-bottom: 3px solid #F89624;">Presentation Title</th>
							<th style="border-bottom: 3px solid #F89624;">Room</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>07:00</td>
							<td>Registration</td>
							<td></td>
							<td>Information and Guidance</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="12">07:30 - 09:00</td>
							<td>Interactive Presentation (90')</td>
							<td>Dr. Jorge Aguilar Sánchez</td>
							<td>Task-Based Activities and Communication in the Foreign Language Classroom</td>
							<td>Aula 10</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MSc. Jonathan Salas Alvarado</td>
							<td>The Use of Theater and Acting Techniques in the English Class</td>
							<td>Aula 11</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Licda. Ana Cecilia Sawyers Gómez</td>
							<td>10 Gre@t Websites for Teachers</td>
							<td>Miniauditorio Agronomía</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Dr. Max Arias Segura</td>
							<td>How Can I Gamify my ESL Classroom?</td>
							<td>Aula 6</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Marlon Pérez Pérez</td>
							<td>Webquests: An Excellent Teaching Tool</td>
							<td>Tecnoaula 1</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Johanny Vallecillo Alfaro</td>
							<td>Increase Your Students’ Interest in Writing with Storybird</td>
							<td>Laboratorio Inglés</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Lic. Mark Foster Cormier</td>
							<td>Experiencing English: Designing Communicative Language Tasks</td>
							<td>Tecnoaula 2</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Cindy Rodríguez Soto</td>
							<td>Figuring Rubrics Out</td>
							<td>Aula 14</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MBA. Joel Álvarez</td>
							<td>Increasing Student Talking Time</td>
							<td>Aula 13</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Michael L. Williams</td>
							<td>A Fluency Workshop</td>
							<td>Aula 3</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Roger Ramírez Draughn</td>
							<td>The Pronunciation House</td>
							<td>Turismo 4</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Amanda Lynn Rossi</td>
							<td>Instructions: The Backbone of Giving Instructions</td>
							<td>Aula 8</td>
						</tr>
						<tr class="be-sky-blue white">
							<td colspan="5">
								<div class="text-center">09:00 – 09:30 &nbsp;&nbsp; Coffee Break / Exhibit Hall</div>
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 2px solid #28A9E1;">09:30 - 10:30</td>
							<td style="border-bottom: 2px solid #28A9E1;">Plenary (60')</td>
							<td style="border-bottom: 2px solid #28A9E1;">MA. Constantine Ioannou</td>
							<td style="border-bottom: 2px solid #28A9E1;">Multilingual Perspectives – Thinking For and Beyond the English Classroom</td>
							<td style="border-bottom: 2px solid #28A9E1;">Auditorio CTEC</td>
						</tr>
						<tr>
						<td rowspan="10">10:45 - 12:15</td>
							<td>Teaching Tip (30')</td>
							<td>ML. Rosberly López Montero</td>
							<td>Hop on, Hop off! A City Tour in the English class</td>
							<td>Aula 6</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>Bach. Erick Salas Acuña</td>
							<td>Bringing Literature to Life: Reading for Learning, Feeling and Thinking</td>
							<td>Turismo 4</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>MA. Veronica Oguilve</td>
							<td>Meaningful Teaching with IPA</td>
							<td>Aula 14</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Licda. Michelle Leip</td>
							<td>Increasing Student Engagement</td>
							<td>Aula 3</td>
						</tr>
						<tr>
							<td>Teaching Tip (30')</td>
							<td>MBA. Joel Álvarez</td>
							<td>Teaching and Assessing English Language Learners</td>
							<td>Tecnoaula 2</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Dra. Lorein Powell</td>
							<td>Dealing with Issues of Identity in Teaching About Minorities in the Costa Rican Classroom</td>
							<td>Aula 11</td>
						</tr>
						<tr>
							<td>Research - Oriented (45')</td>
							<td>Dra. Ana María Chacón</td>
							<td>Using Students Linguistic Repertoire to Teach Spanish Literacy in a Two-Way First Grade Classroom</td>
							<td>Miniaditorio Agronomía</td>
						</tr>
						<tr>
							<td>Practice Oriented (45')</td>
							<td>MA. Hazel Vega Quesada &amp; Meda. Natalia Ramírez Casalvolone</td>
							<td>A Leveling English Course for Prospective First Year Students of the English Majors of the UCR, SO</td>
							<td>Tecnoaula 1</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Licda. Gabriela Castillo Hernández</td>
							<td>Building Bridges Between the Classroom and the Outside World</td>
							<td>Aula 13</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>Mary Scholl. Founder, Director, Centro Espiral Mana</td>
							<td>Fun Activities and Lesson Planning in the Action-Oriented Classroom</td>
							<td>Aula 10</td>
						</tr>
						<tr class="be-sky-blue white">
							<td colspan="5">
								<div class="text-center">12:15 – 13:30 &nbsp;&nbsp; Lunch Break</div>
							</td>
						</tr>
						<tr>
							<td rowspan="12">13:30 - 15:00</td>
							<td>Interactive Presentation (90')</td>
							<td>Dr. Jorge Aguilar Sánchez</td>
							<td>Processing Instruction for Grammar Instruction: A Focus on Acquisition</td>
							<td>Aula 10</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Dra. Marieta Simeonova-Pissarro</td>
							<td>Seamless Integration of Massive Open Online Courses (MOOCs) Into English as a Second Language Writing Classes</td>
							<td>Miniauditorio Agronomía</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Dra. Ana María Chacón</td>
							<td>Sheltered Instruction: A Model Using the TWIOP Model in a First Grade Classroom</td>
							<td>Aula 13</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Yorleny Romero Chaves &amp; MA. Marisol Rojas Salas</td>
							<td>Teach Successfully with the TBL (Task Based Learning)</td>
							<td>Aula 11</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>ML. Paola Gabriela Artavia Mora &amp; Lic. Alberto González Céspedes</td>
							<td>ESL Schools: An Educational Adventure</td>
							<td>Aula 9</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Dra. Patricia López Estrada</td>
							<td>Using Google Docs as Effective Technology in Higher Education</td>
							<td>Laboratorio Inglés</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Danilo Alpizar Lobo</td>
							<td>Towards Achieving Success in the TOEIC Test</td>
							<td>Tecnoaula 1</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>Licda. Kelley B. Williams</td>
							<td>Using Flashcards to Enhance Oral Performance</td>
							<td>Aula 14</td>
						</tr>
						<tr>
							<td>Practice - Oriented (45')</td>
							<td>MA. Constantine Ioannou</td>
							<td>What's in the Task – Planning Assessment Instruction</td>
							<td>Aula 3</td>
						</tr>
						<tr>
							<td>Interactive Presentation (90')</td>
							<td>MA. Michael L. Williams</td>
							<td>Assessment and Student Learning Outcomes</td>
							<td>Aula 4</td>
						</tr>
						<tr>
							<td>Research Oriented (45')</td>
							<td>Licda. Norka Ureña Cruz</td>
							<td>Oral Production in Public Schools</td>
							<td>Turismo 4</td>
						</tr>
						<tr>
							<td>Research Oriented (45')</td>
							<td>MEd. Eric Herrera Molina</td>
							<td>Toolbox: A Project to Share Technological Tools Among Teachers</td>
							<td>Tecnoaula 2</td>
						</tr>
						<tr class="be-sky-blue white">
							<td colspan="5">
								<div class="text-center">15:00 – 15:30 &nbsp;&nbsp; Coffee Break / Exhibit Hall</div>
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 2px solid #28A9E1;">15:30 - 16:30</td>
							<td style="border-bottom: 2px solid #28A9E1;">Plenary (60')</td>
							<td style="border-bottom: 2px solid #28A9E1;">MBA. Joel Álvarez</td>
							<td style="border-bottom: 2px solid #28A9E1;">Celebrating Our Profession: Motivation, Passion, and Empowerment</td>
							<td style="border-bottom: 2px solid #28A9E1;">Auditorio CTEC</td>
						</tr>
						<tr>
							<td style="border-bottom: 2px solid #28A9E1;">16:30</td>
							<td style="border-bottom: 2px solid #28A9E1;"></td>
							<td style="border-bottom: 2px solid #28A9E1;"></td>
							<td style="border-bottom: 2px solid #28A9E1;">Evaluation of the Congress</td>
							<td style="border-bottom: 2px solid #28A9E1;"></td>
						</tr>
						<tr>
							<td>16:45</td>
							<td></td>
							<td></td>
							<td>Closing Ceremony (Raffles, Cultural &amp; Artistic Performances)</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>