<div class="underline-bottom">
    <label class="title montserrat">Scientific Committee</label>
</div>
<ul class="list-unstyled">
    <li>
        <label class="subtitle">Coordinator: Licda. Sonia Villegas Salas, Instituto Tecnológico de Costa Rica</label>
        <ul style="list-style-type: none">
            <li>Lic. Keylor Sánchez Sandí, Universidad Técnica Nacional</li>
            <li>MA. Johanny Vallecillo Alfaro, Instituto Tecnológico de Costa Rica</li>
      </ul>
    </li>
</ul>
<div class="image-box">
	<center><img src="./images/ComiteOrganizador/ComisionCientifica.jpg" width="800" height="500"></center>
</div>