<!--<div class="underline-bottom montserrat">
    <label class="title">Speakers</label>
</div>
<br>
<div class="panel-group" id="accordion">
  	<div class="panel panel-default" ng-repeat="person in persons">
    	<div class="panel-heading">
      		<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" data-target="#{{person.id}}">{{person.name}}</a>
      		</h4>
    	</div>
    	<div id="{{person.id}}" class="panel-collapse collapse">
      		<div class="panel-body">
      			<img ng-src="{{person.image}}">
	      		<p>{{person.description}}</p>
      		</div>
    	</div>
  	</div>
</div>-->

<div class="underline-bottom montserrat">
    <label class="title">Speakers</label>
</div>
<br>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#1">Jorge Aguilar-Sánchez</a>
          </h4>
      </div>
      <div id="1" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="./images/ponentes/JorgeAguilarSanchez.jpg">
            <p>Dr. Jorge Aguilar-Sánchez is an Assistant Professor of Spanish at the University of Dayton, Ohio. He holds two PhDs. One in TESOL and Applied Linguistics and one in Hispanic Linguistics. Both from Indiana University, Bloomington-Indiana. He has published several articles in research design, sociolinguistics and teaching methodology. His publications appear in different publication venues. His research focus on best practices on pedagogical approaches for instructed second language acquisition in English and Spanish, and best practices in research design in sociolinguistics and linguistics in general.</p>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#2">Ana María Chacón</a>
          </h4>
      </div>
      <div id="2" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="">
            <p>Ana María Chacón holds a BA, M.Ed. and Ed. D in Education/Curriculum and Instruction. She has worked as college professor, principal, head teacher. TLA mentor teacher, and literacy lead teacher. She has many years of experience in areas such as Teaching English as a Second language, Early Childhood Education, Elementary Education and Dual Language Instruction. Dr Chacón in currently teaching first grade in a Dual Immersion program and conducting action research in her classroom.</p>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#3">Marieta Simeonova-Pissarro</a>
          </h4>
      </div>
      <div id="3" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="./images/ponentes/MarietaSimeonovaPissarro.png">
            <p>Marieta Simeonova-Pissarro is the English as a Second Language (ESL) Program Director at Morehead State University, Kentucky, U.S.A. She is responsible for designing ESL curricula and tests, and teaching ESL. Marieta holds a doctorate in Literacy and English as a Second Language from the University of Cincinnati, Ohio and an MA in English Philology from the University of Veliko Turnovo, Bulgaria. Marieta has a 15 year EFL and ESL teaching and advising experience in the United States and Europe at the middle school, high school, and college level in private and public institutions. She is married and has two sons.</p>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#4">Mike Williams</a>
          </h4>
      </div>
      <div id="4" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="./images/ponentes/MikeWilliams.png">
            <p>Mike Williams is the Academic Support Coordinator of the Culture and Intensive English Program (CIEP) at the University of Northern Iowa in Cedar Falls, Iowa, U.S.A. Mike oversees curriculum development and revision for the CIEP. He also teaches, advises students who have academic concerns, and supervises temporary instructors among other duties. Prior to this position, Mike was a full-time instructor in the CIEP. He has also taught at the University of Iowa, at a university in China, middle and high school students in Taiwan. Mike has an MA in TESOL and an MA in Mental Health Counseling from UNI and a BA in Journalism from U of I.  Mike is originally from Iowa, is married and has a son and daughter.</p>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#5">Constantine John Ioannou</a>
          </h4>
      </div>
      <div id="5" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="">
            <p>
              <p>
                25 Kimberwick Crescent<br>
                Ottawa, Ontario, K1V IK6<br>
                (613) 247-2201<br>
                cjioannou@gmail.com<br><br>
                To contribute to the development of global citizenship through initiatives and programs that promote exemplary practice in language teaching and learning and intercultural understanding.<br><br>
              </p>
              <label class="subtitle">Profesional Experience</label><br>
              <p>Program Director, Ottawa International Projects and Exchanges (a centre of the Ottawa-Carleton Education Network and the Ottawa-Carleton District School Board).
              <ul>
                <li>Administration, coordination, promotion and program development.</li>
                <li>Teacher training for one to five month programs in the areas of communicative English language teaching, English for young learners, bilingual teaching for both elementary and secondary educators.</li>
                <li>Summer English programs for international students and groups.</li>
                <li>Short term immersion programs for international students.</li>
                <li>Friendship schools, exchanges and delegations.</li>
              </ul>
              2006 to Present.</p>
              <p><label class="bold">Professor of ESL</label> Parts 1, 2 and 3, Faculty of Education – Professional Development Program, University of Ottawa.
              <ul>
                <li>Responsible for writing and revision of course outlines for all three courses according to College of Teachers guidelines.</li>
                <li>Teacher of on campus and online courses.</li>
              </ul>
              1999 to Present.</p>
              <p><label class="bold">Education Officer</label>, Continuing Education, Ottawa-Carleton District School Board.
              <ul>
                <li>Administration, coordination, promotion and program development.</li>
                <li>International Languages, Credit Programs, Arts and General Interest Programs, Marketing.</li>
                <li>Responsible for teacher-training initiatives for local and international teachers of languages.</li>
              </ul>
              1999 to 2005.</p>
              <p><label class="bold">Curriculum Supervisor and Administrator</label>, Continuing Education Programs, Ottawa-Carleton District School Board.
              <ul>
                <li>Held numerous positions of responsibilities in administration, curriculum development and teacher in-servicing in programs in ESL and International Languages.</li>
              </ul>
              1993 to Present.</p>
              <p><label class="bold">Teacher</label>, Ottawa area school boards (Public and Catholic).
              <ul>
                <li>Various teaching assignments in ESL, Spanish, German, Greek and Core French in day schools and Continuing Education.</li>
              </ul>
              1991 to 1998</p>
              <p><label class="bold">Teacher</label>, London Board of Education – now Thames Valley (Ontario).
              <ul>
                <li>Various teaching assignments in ESL, German and Family Literacy Projects.</li>
              </ul>
              1989 to 1991</p>
              <p><label class="bold">Language Teacher</label>, Falk Sprachinstitut and Linguistisches Institut, Germany.<br>
              1988 to 1989</p><br>
              <label class="subtitle">Education</label>
              <p>
                <ul>
                  <li>Principal Qualifications, University of Ottawa.<br>1999</li>
                  <li>Summer Language Pedagogy Institute, University of Salamanca, Spain.<br>1999</li>
                  <li>ESL Specialist Program, University of Ottawa.<br>1996</li>
                  <li>Master of Arts (Applied Language Studies), Carleton University.<br>1994</li>
                  <li>Bachelor of Education (German and Spanish), University of Western Ontario.<br>1991</li>
                  <li>Bachelor of Arts (German and Spanish, minor in French), University of Western
                  Ontario, (Study/Work abroad – University of Düsseldorf, Germany).<br>1990</li>
                  <li>Summer language program studies in various cities in Sweden and Norway.<br>1992 to 2007</li>
                </ul>
              </p>
              <label class="subtitle">Contributions and Achievements</label><br>
              <p><label class="bold">Executive Director</label>, International Languages Educators’ Association of Ontario.<br>
              2005 to Present</p>
              <p><label class="bold">Board Member</label>, Canadian Languages Association.<br>
              2002 to Present</p>
              <p><label class="bold">Workshop Developer and Deliverer</label>, Secondary School Reform and Think Literacy, Ontario Ministry of Education and Ontario Teachers’ Federation.<br>
              2001 to 2007</p>
              <p><label class="bold">Director Serving as Affiliate Representative</label>, Board of TESOL International.<br>
              2000 to 2003</p>
              <p><label class="bold">TESL Ottawa Conference Chair</label>, President and Affiliate Representative to TESL Ontario; Ontario Representative on TESL Canada.<br>
              1996 to 1999</p>
              <p><label class="bold">ESL Advisor</label>, Faculty of Education (International Education), Queen’s University, Kingston, Ontario.
              <ul>
                <li>Held various positions on various committees, task forces and advisory groups regarding languages and literacy.</li>
                <li>Presented workshops and papers at conferences and meetings locally, nationally (Alberta, British Columbia, Nova Scotia, Ontario, Quebec) and internationally (Finland, Germany, Italy, Norway, Spain, Sweden, Greece, Colombia, Brazil, Netherlands, Poland and the United States).</li>
                <li>Participated on various projects independently such as television teaching, materials development, consultation and teacher training initiatives.</li>
                <li>Worked as a teacher trainer for teachers going overseas, participated on delegations abroad.</li>
                <li>Awarded Director’s Citation, 2002 (Ottawa-Carleton District School Board); Community Award, 2003 (Ottawa Muslim Women’s Organization); Appreciation Plaque, 2006 (Muslim Association of Canada).</li>
                <li>Recognition for Educational Programme Excellence, 2001-2004 (Phi Delta Kappa).</li>
              </ul>
              1994 to Present</p>

              <p><label class="bold">Language abilities:</label> English, French, Spanish, German, Greek, Swedish, Norwegian.</p>
              <p><label class="bold">Available upon request:</label> References, listing of presentations and publications.</p>
            </p>
          </div>
      </div>
    </div>
    <!--<div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#1"></a>
          </h4>
      </div>
      <div id="1" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="">
            <p></p>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#1"></a>
          </h4>
      </div>
      <div id="1" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="">
            <p></p>
          </div>
      </div>
    </div>-->
</div>