<div class="underline-bottom montserrat">
    <h3>Sponsors</h3>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/sponsors/Avantica.png" width="170px" height="150px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/sponsors/Colegio Agropecuario San Carlos.jpg" width="175px" height="150px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/sponsors/COLYPRO.png" width="175px" height="115px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/sponsors/COTAI.png" width="185px" height="140px"></center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/sponsors/ETAI.jpg" width="170px" height="125px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/sponsors/Nayara.PNG" width="160px" height="125px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/sponsors/UCatólica.jpg" width="195px" height="110px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/sponsors/US Embassy.jpg" width="135px" height="130px"></center>
    </div>
  </div>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/zee.png" width="120px" height="100px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/ctec.png" width="175px" height="100px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/INA.png" width="175px" height="85px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-top">
      <center><img src="./images/organizing committee/tec.png" width="175px" height="75px"></center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/mep.png" width="100px" height="90px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/uned.png" width="110px" height="90px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/u_san_jose.png" width="175px" height="90px"></center>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 images-bottom">
      <center><img src="./images/organizing committee/utn.png" width="110px" height="90px"></center>
    </div>
  </div>
  <br>
</div>