<div class="underline-bottom montserrat">
	<h3>Thematic strands</h3>
</div>
<br>
<ul>
  	<li>
      	<h4 class="montserrat">Effective pedagogical strengths for the teaching of English as a foreign language.</h4>
      	<ul>
          	<li>Macro skills (Listening, Speaking, Reading, Writing).</li>
          	<li>Micro skills (Grammar, Vocabulary, Pronunciation).</li>
     	</ul>
  	</li>
  	<li>
      	<h4 class="montserrat">Innovative tools for the teaching of English as a foreign language.</h4>
      	<ul>
          	<li>Technology applied to the teaching of English as a foreign language.</li>
          	<li>Successful experiences in the teaching of English as a foreign language.</li>
     	</ul>
  	</li>
  	<li>
      	<h4 class="montserrat">Testing and assessment of English teaching as a foreign language.</h4>
      	<ul>
          	<li>Creating testing and assessment tools.</li>
          	<li>Evaluation of competences.</li>
          	<li>Diagnostic, formative, and summative assessment.</li>
     	</ul>
  	</li>
</ul>