<div class="underline-bottom montserrat">
	<label class="title">Thematic strands</label>
</div>
<br>
<ul>
  	<li>
      	<label class="subtitle montserrat">Effective pedagogical strengths for the teaching of English as a foreign language.</label>
      	<ul>
          	<li>Macro skills (Listening, Speaking, Reading, Writing).</li>
          	<li>Micro skills (Grammar, Vocabulary, Pronunciation).</li>
     	</ul>
  	</li>
  	<li>
      	<label class="subtitle montserrat">Innovative tools for the teaching of English as a foreign language.</label>
      	<ul>
          	<li>Technology applied to the teaching of English as a foreign language.</li>
          	<li>Successful experiences in the teaching of English as a foreign language.</li>
     	</ul>
  	</li>
  	<li>
      	<label class="subtitle montserrat">Testing and assessment of English teaching as a foreign language.</label>
      	<ul>
          	<li>Creating testing and assessment tools.</li>
          	<li>Evaluation of competences.</li>
          	<li>Diagnostic, formative, and summative assessment.</li>
     	</ul>
  	</li>
</ul>