<nav class="navbar navbar-default">
	<div class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
      			<span class="sr-only">Toggle navigation</span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" ng-click="activeNav=''" href="#/">
				<img src="./images/logo.png">
			</a>
  		</div>
  		<div class="navbar-collapse collapse navBar">
    		<ul class="nav navbar-nav navbar-right">
    			<li ng-click="loadMySessions();"><a class="first">MY SESSIONS</a></li>
		        <li ng-click="loadAllSessions();"><a>ALL SESSIONS</a></li>
		        <li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name | uppercase}} <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		<li ng-if="user.receipt == '0'" ng-click="changeReceipt();"><a><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;ADD RECEIPT</a></li>
		          		<li ng-click="logOut();"><a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;LOG OUT</a></li>
		        	</ul>
		      	</li>
    		</ul>
 		</div>
	</div>
</nav>
<div class="container">
	<div ng-show="add" class="alert alert-success text-center">The session has been successfully added to your sessions.</div>
	<div ng-show="remove" class="alert alert-success text-center">The session has been successfully removed from your sessions.</div>
	<div ng-show="repeatSession" class="alert alert-info text-center">You are already registered in the session.</div>
	<div ng-show="crashSession" class="alert alert-danger text-center">You already have a session at the same time as the selected session.</div>
	<div ng-show="error" class="alert alert-danger text-center">An unexpected error has occurred. Please try again.</div>

	<div ng-switch on="activeNav">
		<div ng-switch-when="mySessions">
			<label class="title montserrat">My sessions</label>
			<div ng-show="!blockSessions">
				<div class="alert alert-info text-center box" ng-show="!sessions.length">
					Your sessions part is empty, please click <a href="" ng-click="loadAllSessions();">here</a> to register to the sessions.
				</div>
				<table class="table table-striped box" ng-show="sessions.length">
			        <thead>
			            <tr>
			                <th><label class="subtitle">Name</label></th>
			                <th><label class="subtitle">Location</label></th>
			                <th><label class="subtitle">Date</label></th>
			                <th><label class="subtitle">Start time</label></th>
			                <th><label class="subtitle">Finish time</label></th>
			                <th><label class="subtitle">Remove</label></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="session in sessions">
			                <td>{{session.name}}</td>
			                <td>{{session.location}}</td>
			                <td>{{session.date}}</td>
			                <td>{{session.hourStart}}</td>
			                <td>{{session.hourFinish}}</td>
			                <td><button class="btn btn-danger" ng-click="removeFromMySessions($event, session.idPersonSession,session.id)" title="Remove from my sessions"><span class="glyphicon glyphicon-remove"></span></button></td>
			            </tr>
			        </tbody>
		      	</table>
	      	</div>
	      	<div class="alert alert-info text-center box" ng-show="blockSessions">
				All sessions will open on June 1st!
			</div>
		</div>
		<div ng-switch-when="allSessions">
			<label class="title montserrat"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;All sessions</label>
			<div ng-show="!blockSessions">
				<table class="table table-striped box">
			        <thead>
			            <tr>
			                <th><label class="subtitle">Name</label></th>
			                <th><label class="subtitle">Location</label></th>
			                <th><label class="subtitle">Date</label></th>
			                <th><label class="subtitle">Start time</label></th>
			                <th><label class="subtitle">Finish time</label></th>
			                <th><label class="subtitle">Availability</label></th>
			                <th><label class="subtitle">Add</label></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="session in sessions">
			                <td>{{session.name}}</td>
			                <td>{{session.location}}</td>
			                <td>{{session.date}}</td>
			                <td>{{session.hourStart}}</td>
			                <td>{{session.hourFinish}}</td>
			                <td>{{session.capacity}}</td>
			                <td><button class="btn btn-primary" ng-click="addToMySessions(session.id)" title="Add to my sessions"><span class="glyphicon glyphicon-ok"></span></button></td>
			            </tr>
			        </tbody>
		      </table>
	        </div>
	        <div class="alert alert-info text-center box" ng-show="blockSessions">
				All sessions will open on June 1st!
			</div>
		</div>
		<div ng-switch-when="addReceipt">
			<div ng-show="upload" class="alert text-center" ng-class="uploadStyle">{{uploadMessage}}</div>
			<label class="title montserrat"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Add receipt</label>
            <div class="box">
	            <span class="btn btn-default btn-file">
	            	<span class="glyphicon glyphicon-file"></span>
    				Choose file <input type="file" accept="image/*" image="image">
				</span>
				&nbsp;&nbsp;
				<button class="btn btn-upload" type="submit" ng-click="uploadReceipt(image)"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload</button>
			</div>
			<div class="box" ng-show="image">
				<div>
					<label class="subtite">Preview</label>
				</div>
            	<img class="custom-preview" ng-src="{{image.url}}" type="{{image.file.type}}"> 
            </div>
		</div>
	</div>
</div>

<!-- BOTON IR ARRIBA -->
<span class="icon fa fa-arrow-up be-black" ng-click="goTop();"></span>