<nav class="navbar navbar-default">
	<div class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
      			<span class="sr-only">Toggle navigation</span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand">
				<img src="./images/logo.png">
			</a>
  		</div>
  		<div class="navbar-collapse collapse navBar">
    		<ul class="nav navbar-nav navbar-right">
    			<li ng-click="loadMySessions();"><a style="color: #FF770D;">MY SESSIONS</a></li>
		        <li ng-click="loadAllSessions();"><a style="color: #FF770D;">ALL SESSIONS</a></li>
		        <li class="dropdown">
		        	<a href="" class="dropdown-toggle" data-toggle="dropdown" style="color: #FF770D;">{{user.name | uppercase}} <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
		        		<li ng-show="user.receipt == '0'" ng-click="changeReceipt();"><a style="color: #2E32BF;"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;ADD RECEIPT</a></li>
		          		<li ng-click="logOut();"><a style="color: #2E32BF;"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;LOG OUT</a></li>
		        	</ul>
		      	</li>
    		</ul>
 		</div>
	</div>
</nav>
<div class="container">
	<div ng-show="add" class="alert alert-success text-center">The session has been successfully added to your sessions.</div>
	<div ng-show="remove" class="alert alert-success text-center">The session has been successfully removed from your sessions.</div>
	<div ng-show="repeatSession" class="alert alert-info text-center">You are already registered in the session.</div>
	<div ng-show="crashSession" class="alert alert-danger text-center">You already have a session at the same time as the selected session.</div>
	<div ng-show="error" class="alert alert-danger text-center">An unexpected error has occurred. Please try again.</div>

	<div ng-switch on="activeNav">
		<div ng-switch-when="mySessions">
			<label class="title montserrat">My sessions</label>
			<div ng-hide="blockSessions || unAuthorized">
				<div class="alert alert-info text-center box" ng-hide="showMySessions">
					Your sessions part is empty, please click <a href="" ng-click="loadAllSessions();">here</a> to register to the sessions.
				</div>
				<div ng-show="showMySessions">
					<div class="box">
						<div ng-if="sessions.first.morning.length">
							<div>
								<label class="subtitle">Thursday, June 16 at morning</label>
							</div>
							<div class="col-md-12 col-sm-12 box">
						  		<div class="col-md-4 col-sm-4 card-box" ng-repeat="session in sessions.first.morning">
							        <div class="inner">
								        <div class="title-card">
								        	<label class="subtitle">{{session.name}}</label>
							        	</div>
							        	<div class="body-card">
						        			<p class="card-text">With {{session.speaker}}</p>
						      				<p class="card-text">In {{session.location}} from {{session.hourStart}} to {{session.hourFinish}}.</p>
						      				<p class="card-text">
						      					When? {{session.date}}.
						      					<span class="glyphicon glyphicon-trash" ng-click="removeFromMySessions($event, session.idPersonSession,session.id)" title="Remove from my sessions"></span>
					      					</p>
						    			</div>
							        </div>
								</div>
							</div>
				      	</div>
			      	</div>
			      	<div class="box">
			      		<div ng-if="sessions.first.afternoon.length">
							<div>
								<label class="subtitle">Thursday, June 16 at afternoon</label>
							</div>
							<div class="col-md-12 col-sm-12 box">
						  		<div class="col-md-4 col-sm-4 card-box" ng-repeat="session in sessions.first.afternoon">
							        <div class="inner">
								        <div class="title-card">
								        	<label class="subtitle">{{session.name}}</label>
							        	</div>
							        	<div class="body-card">
						        			<p class="card-text">With {{session.speaker}}</p>
						      				<p class="card-text">In {{session.location}} from {{session.hourStart}} to {{session.hourFinish}}.</p>
						      				<p class="card-text">
						      					When? {{session.date}}.
						      					<span class="glyphicon glyphicon-trash" ng-click="removeFromMySessions($event, session.idPersonSession,session.id)" title="Remove from my sessions"></span>
					      					</p>
						    			</div>
							        </div>
								</div>
							</div>
				      	</div>
			      	</div>
			      	<div class="box">
			      		<div ng-if="sessions.second.morning.length">
							<div>
								<label class="subtitle">Friday, June 17 at morning</label>
							</div>
							<div class="col-md-12 col-sm-12 box">
						  		<div class="col-md-4 col-sm-4 card-box" ng-repeat="session in sessions.second.morning">
							        <div class="inner">
								        <div class="title-card">
								        	<label class="subtitle">{{session.name}}</label>
							        	</div>
							        	<div class="body-card">
						        			<p class="card-text">With {{session.speaker}}</p>
						      				<p class="card-text">In {{session.location}} from {{session.hourStart}} to {{session.hourFinish}}.</p>
						      				<p class="card-text">
						      					When? {{session.date}}.
						      					<span class="glyphicon glyphicon-trash" ng-click="removeFromMySessions($event, session.idPersonSession,session.id)" title="Remove from my sessions"></span>
					      					</p>
						    			</div>
							        </div>
								</div>
							</div>
				      	</div>
			      	</div>
			      	<div class="box">
			      		<div ng-if="sessions.second.afternoon.length">
							<div>
								<label class="subtitle">Friday, June 17 at afternoon</label>
							</div>
							<div class="col-md-12 col-sm-12 box">
						  		<div class="col-md-4 col-sm-4 card-box" ng-repeat="session in sessions.second.afternoon">
							        <div class="inner">
								        <div class="title-card">
								        	<label class="subtitle">{{session.name}}</label>
							        	</div>
							        	<div class="body-card">
						        			<p class="card-text">With {{session.speaker}}</p>
						      				<p class="card-text">In {{session.location}} from {{session.hourStart}} to {{session.hourFinish}}.</p>
						      				<p class="card-text">
						      					When? {{session.date}}.
						      					<span class="glyphicon glyphicon-trash" ng-click="removeFromMySessions($event, session.idPersonSession,session.id)" title="Remove from my sessions"></span>
					      					</p>
						    			</div>
							        </div>
								</div>
							</div>
				      	</div>
			      	</div>
				</div>
	      	</div>
	      	<div class="alert alert-info text-center box" ng-show="blockSessions">
				All sessions will open on June 3rd!
			</div>
			<div class="alert alert-danger text-center box" ng-show="unAuthorized">
				You are not authorized to register for the sessions. Please contact the congress people.
			</div>
		</div>
		<div ng-switch-when="allSessions">
			<label class="title montserrat">All sessions</label>
			<div ng-hide="blockSessions || unAuthorized">
				<table class="table table-striped box">
			        <thead>
			            <tr>
			                <th><label class="subtitle">Name</label></th>
			                <th><label class="subtitle">Speaker</label></th>
			                <th><label class="subtitle">Location</label></th>
			                <th><label class="subtitle">Date</label></th>
			                <th><label class="subtitle">Start time</label></th>
			                <th><label class="subtitle">Finish time</label></th>
			                <th><label class="subtitle">Availability</label></th>
			                <th><label class="subtitle">Add</label></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="session in sessions">
			                <td>{{session.name}}</td>
			                <td>{{session.speaker}}</td>
			                <td>{{session.location}}</td>
			                <td>{{session.date}}</td>
			                <td>{{session.hourStart}}</td>
			                <td>{{session.hourFinish}}</td>
			                <td>{{session.capacity}}</td>
			                <td><button class="btn btn-primary" ng-click="addToMySessions(session.id)" title="Add to my sessions"><span class="glyphicon glyphicon-ok"></span></button></td>
			            </tr>
			        </tbody>
		      </table>
	        </div>
	        <div class="alert alert-info text-center box" ng-show="blockSessions">
				All sessions will open on June 3rd!
			</div>
			<div class="alert alert-danger text-center box" ng-show="unAuthorized">
				You are not authorized to register for the sessions. Please contact the congress people.
			</div>
		</div>
		<div ng-switch-when="addReceipt">
			<div ng-show="upload" class="alert text-center" ng-class="uploadStyle">{{uploadMessage}}</div>
			<label class="title montserrat"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Add receipt</label>
            <div class="box">
	            <span class="btn btn-default btn-file">
	            	<span class="glyphicon glyphicon-folder-open"></span>&nbsp;
    				Choose file <input type="file" accept="image/*" image="image">
				</span>
				&nbsp;&nbsp;
				<button class="btn btn-upload" type="submit" ng-click="uploadReceipt(image)"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload</button>
			</div>
			<div class="box" ng-show="image">
				<div>
					<label class="subtite">Preview</label>
				</div>
            	<img class="custom-preview" ng-src="{{image.url}}" type="{{image.file.type}}"> 
            </div>
		</div>
	</div>
</div>

<!-- BOTON IR ARRIBA -->
<span class="icon fa fa-arrow-up" ng-click="goTop();"></span>